body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

/* Style error message */

small {
  visibility: hidden;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

small.error {
  visibility: visible;
}

/* styling popup */
.modal {
  background-color: #fff;
  padding: 20px;
  max-width: 80%;
  border-radius: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-b {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 1.7rem;
  color: #67798e;
  align-self: flex-start;
  padding-top: 0.5rem;
}

.container-modal1 {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.container-modal1.show {
  pointer-events: auto;
  opacity: 1;
}

.img-container {
  max-width: 100%;
  height: 80%;
  justify-self: center;
}

.img-modal {
  max-width: 100%;
}

.lg-desktop {
  display: none;
}

.modal-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* finish thew popup styling */

.wrapper {
  display: flex;
  flex-direction: column;
  background: #fff url("./images/header-shapes.svg");
  background-size: cover;
  margin: 0 0 114px 0;
  padding: 50px 20px 100px 20px;
  border-radius: 0 0 0 10px;
}

.first ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  gap: 40px;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #6070ff;
  opacity: 90%;
  margin: 0;
  padding: 0;
}

.nav1 {
  padding-top: 100px;
}

.nav-link {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 28px;
}

.hamburger {
  cursor: pointer;
}

.line {
  display: block;
  background-color: #6070ff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: 0.7s;
  background-color: #fff;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: 0.7s;
  background-color: #fff;
}

#main-menu.active {
  transform: translateX(0);
  transition: 0.7s ease-in-out;
}

.second {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

li {
  list-style: none;
}

a {
  color: #6070ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 700;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.icons ul {
  display: flex;
  gap: 19px;
  padding: 10px 10px 10px 0;
  margin-top: 5px;
}

/* Adding style for the projects */
.project {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.dates {
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
  gap: 24px;
}

.languages {
  display: flex;
  margin: 0 0 24px 0;
  padding: 0;
  gap: 8px;
}

.title-project {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 0 12px 0;
  padding: 0;
}

.dates li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #677283;
  list-style-type: disc;
}

.dates .item1 {
  list-style-type: none;
  color: #344563;
}

.button1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #7f8cff;
  transition: all 0.3s ease-in-out;
}

.button1:hover {
  color: white;
  background: #6070ff;
  border-color: #6070ff;
  transform: scale(1.1);
}

.button1:focus {
  color: white;
  background: #2230d2;
  border-color: #2230d2;
  transform: scale(0.9);
}

/* Using css grid to layout the projects */
.project-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 30px 0 114px 0;
  padding: 20px 20px 100px 20px;
  border-radius: 0 10px 0 0;
}

.wrapper2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.wrapper2 .lets-connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #606bc3;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.skill {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.skill h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border-bottom: 1px solid #dfe1e6;
  padding: 24px 12px;
}

.skill-1 li {
  border: none;
  margin: 50px 0 0 0;
}

.skill-logo {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 0;
  padding: 0;
  gap: 10px;
}

.skill-logo li {
  border-radius: 8px;
  padding: 6px 12px;
  background-color: #f7f7f9;
  display: flex;
  gap: 16px;
  align-items: center;
}

.skill-logo .specific-language {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.skill-logo img {
  height: 50px;
}

.languages li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #4c5ace;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  transition: all 0.3s ease-in-out;
}

.languages li:hover {
  background-color: #6070ff;
  color: #ebebff;
}

.contact-me {
  background: #6070ff url(./images/contact-form-background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  padding-top: 150px;
}

.title-contact {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.description-contact {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
  padding: 20px;
}

.social_image {
  transition: all 0.3s ease-in-out;
}

.social_image:hover {
  transform: scale(1.2);
}

form {
  width: 100%;
}

form .input-list {
  margin: 0 20px;
  padding: 0;
}

form .text-input,
form .new-message {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

form textarea {
  height: 10em;
}

form .form-input {
  margin-top: 20px;
}

.touch2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.image {
  max-width: 100%;
  height: auto;
  transition: transform 1s;
}

.image:hover {
  transform: scale(1.1);
}

.display-none {
  display: none;
}

@media only screen and (min-width: 992px) {
  .project1,
  .project3 {
    display: flex;
    flex-direction: row;
    margin: 142px 142px 0 142px;
  }

  .project2,
  .project4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 142px 142px 0 142px;
  }

  .description {
    padding: 40px;
  }

  .project .image,
  .project .description {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
  }

  #main-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    justify-content: flex-start;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    padding-left: 0;
  }

  .hamburger {
    display: none;
  }

  .nav1 {
    padding-top: 0;
  }

  .project-wrap {
    grid-gap: 0;
  }

  .first {
    margin: 25px 125px;
  }

  /* start thew popup styling */
  .img-modal {
    min-width: 100%;
    height: 300px;
  }

  .description-modal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .lg-desktop {
    display: block;
  }

  .languages-modal {
    min-width: 300px;
    flex-wrap: wrap;
  }

  .modal-button {
    margin-top: 30px;
    justify-self: flex-end;
  }

  /* finish thew popup styling */

  .my-name {
    margin: 200px 200px 0 200px;
  }

  .wrapper2 {
    display: flex;
    flex-direction: row;
    gap: 37px;
    background: #fff;
    margin: 30px 0 114px 0;
    padding: 140px;
    border-radius: 0 50px 0 0;
  }

  .wrapper2 .about-me {
    flex-grow: 4;
    flex-basis: 0;
    min-width: 0;
  }

  .wrapper2 .the-languages {
    flex-grow: 6;
    flex-basis: 0;
    min-width: 0;
  }

  .third {
    margin-top: 100px;
  }

  .description-contact {
    margin-left: 25%;
    margin-right: 25%;
  }

  form {
    width: 40%;
    margin-bottom: 100px;
  }

  .form-button {
    width: 33.33%;
    margin-left: 33.33%;
    margin-right: 33.33%;
  }

  .wrapper {
    border-radius: 0 0 0 50px;
  }

  .skill-1 li {
    margin: 0;
  }

  .skill-logo li {
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    padding: 12px;
  }

  .skill-logo .specific-language {
    margin: 0 0 5px 0;
  }

  .skill-logo {
    flex-direction: row;
  }

  .wrapper2 h2 {
    width: 120px;
  }
}

.my-name-title {
  margin-left: 0;
  animation: slidein 1.2s;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}
